.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 300px;
    background-color: rgb(233, 242, 243);
    box-shadow: 2px 2px 1px 1px rgba(233, 233, 228, 0.3);
}

.statistics:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.title {
    font-size: 30px;
    text-transform: uppercase;
}

.statList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.item {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    background-color: rgb(245, 244, 215);
}

.item:hover {
    background-color: rgb(240, 238, 184);
}

.label {
    margin-bottom: 8px;
    color: rgb(175, 171, 171);
}

.percentage {
    font-size: 20px;
    font-weight: 700;
}